{% extends "layout.html" %}
{% block content %}
{% if job_descriptions %}
        <table>
        <th>Company Name</th>
        <th>Job Profile</th>
        <th>Criteria</th>
        <th></th>
            {% for job_description in job_descriptions %}
                    <tr>
                        <td> <p>{{ job_description.recruiter.company_name }}</p><br></td>
                        <td> <p>{{ job_description.job_profile }}</p><br></td>
                        <td> <p>{{ job_description.criteria }}</p><br></td>
                        <td> <p><a href="{{ url_for('') }}" <button>Shortlist Students</button></p></td>
                    </tr>
            {% endfor %}
        </table>
    {% else %}
        <div style="text-align: center;">
            <h2>There are No Jobs Description Available</h2>
        </div>
    {% endif %}
{% endblock content %}
