{% extends "layout.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_style.css') }}">
{% block content_1 %}
    <div>
         <div class="dashboard_div">
            <div class="dashboard_content">
                <ul class="dashboard_ul">
                    <div style="text-align: center;margin-top: 150px;">
                        <li>
                            <a href="{{ url_for('view_account',student=student) }}">
                                <div class="dash_icon">
                                    <img alt="dashboard-icon" src="https://thenrai.org/img/competition.png">
                                </div>
                                <div class="box_title">
                                    <h4>
                                        View Account
                                    </h4>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('unverified_students') }}">
                                <div class="dash_icon">
                                    <img alt="dashboard-icon" src="https://thenrai.org/img/competition.png">
                                </div>
                                <div class="box_title">
                                    <h4>
                                        Update Profile
                                    </h4>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dash_icon">
                                <img alt="dashboard-icon" src="https://thenrai.org/img/view_info.png">
                            </div>
                            <div class="box_title">
                                <h4>
                                    View Companies
                                </h4>
                            </div>
                        </li>
                        <li>
                            <div class="dash_icon">
                                <img alt="dashboard-icon" src="https://thenrai.org/img/competitor_card.png">
                            </div>
                            <div class="box_title">
                                <h4>
                                    View Company Schedule
                                </h4>
                            </div>
                        </li>

                        <li>
                            <div class="dash_icon">
                                <img alt="dashboard-icon" src="https://thenrai.org/img/weaponCarryingLetter.png">
                            </div>
                            <div class="box_title">
                                <h4>
                                    Check Placement Status
                                </h4>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
{% endblock content_1 %}